[Desktop Entry]
Icon=text-x-csrc
Name=Funcoes.c
Type=Link
URL[$e]=file:$HOME/Git/trabalhopraticoi/Arquivos/Funcoes.c
X-KDE-LastOpenedWith=org.kde.kate
